@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file */
.no-scrollbar {
    @apply overflow-auto; /* or overflow-scroll to enable scrolling */
    scrollbar-width: none; /* For Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
    
/* spin */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  